<!--CÓDIGO SECCIÓN 03 Directivas-->
<!--
<div class="container">
    <h3>Ejemplo de directiva ngIf</h3>
    <hr>
    <app-ejdirectivangif></app-ejdirectivangif>
  </div>
  <hr>
  <div class="container">
    <h3>Ejemplo de directiva ngIf + else</h3>
    <hr>
    <app-ejdirectivangifelse></app-ejdirectivangifelse>
  </div>
  <hr>
 <div class="container">
    <h3>Ejemplo de directiva ngIf + else con métodos</h3>
    <hr>
    <app-ejdirectivangifelsemet></app-ejdirectivangifelsemet>
  </div>
  <hr>
  <div class="container">
  <h3>Ejemplo de directiva ngStyle</h3>
  <hr>
  <app-ejdirectivangstyle></app-ejdirectivangstyle>
</div>
<hr>
<div class="container">
  <h3>Ejemplo de directiva ngClass</h3>
  <hr>
  <app-ejdirectivangclass></app-ejdirectivangclass>
</div>
<hr>
<div class="container">
  <h3>Ejemplo de directiva ngFor</h3>
  <hr>
  <app-ejdirectivangfor></app-ejdirectivangfor>
</div>
<hr>
<div class="container">
  <h3>Ejemplo de directiva ngFor con objetos</h3>
  <hr>
  <app-ejarrayobjetos></app-ejarrayobjetos>
</div>
<hr>
<div class="container">
  <h3>Ejemplo de directiva ngSwitch</h3>
  <hr>
  <app-ejdirectivaswitch></app-ejdirectivaswitch>
</div>
<hr>
<div class="container">
  <h3>Ejemplo de directiva propia con HostBinding y HostListener</h3>
  <hr>
  <app-ejmidirectiva></app-ejmidirectiva>
</div>
<hr>
<div class="container">
  <h3>Ejemplo de @Input</h3>
  <hr>
  <app-app-padre></app-app-padre>
</div>
<hr>
<div class="container">
  <h3>Ejemplo de @Output</h3>
  <hr>
  <app-padre></app-padre>
</div>
<hr>
-->
<div class="container">
  <h3>Ejemplo de @Output</h3>
  <hr>
  <app-padre></app-padre>
</div>
<hr>





<!--CÓDIGO SECCIÓN 02 Data Binding-->
<!--
<div style="text-align: center">
  <h1 class="violeta">¡Hola {{ destino }}!</h1>
  <app-fechaactual></app-fechaactual>
</div>
<hr>
-->
<!-- Interpolación objeto -->
<!--
<div style="text-align: center">
  <app-viewmodelo></app-viewmodelo>
</div>
<hr>
-->
<!-- Interpolación método -->
<!--
<div class="container">
  <app-ejmetodo></app-ejmetodo>
</div>
<hr>
-->
<!-- Property Binding -->
<!--
<div class="container">
  <h3>Ejemplo de Property Binding</h3>
  <hr>
  <app-ejpropertybinding></app-ejpropertybinding>
</div>
<hr>
-->
<!-- Event Binding -->
<!--
<div class="container">
    <h3>Ejemplo de Event Binding</h3>
    <hr>
    <app-ejeventbinding></app-ejeventbinding>
  </div>
  <hr>
  -->
<!-- Two Way Binding -->
<!--
<div class="container">
    <h3>Ejemplo de Two Way Binding</h3>
    <hr>
    <app-ej2waybinging></app-ej2waybinging>
  </div>
  <hr>
-->

<!-- CÓDIGO SECCIÓN 01 Introduccion_ instalacion y estructura de archivos -->
<!--
<div style="text-align:center">
  <h1>
    Welcome {{ title }}!
  </h1>
  <img width="300" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
</div>
<h2>Here are some links to help you start: </h2>
<ul>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://angular.io/tutorial">Tour of Heroes</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://angular.io/cli">CLI Documentation</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://blog.angular.io/">Angular blog</a></h2>
  </li>
</ul>

<router-outlet></router-outlet>
 -->
